
a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* 헤더 */
header {
    width: 1200px;
    margin: 0 auto;
    height: 250px;
}
    #logo {
        width: 480px;
        height: 100px;
        float: left;
        font-family: 'Black Han Sans', sans-serif;
        font-family: 'Bungee', cursive;
        font-size: 3em;
        color: rgb(252, 117, 7);
    }

    
    #logo a:link, #logo a:visited {
        color:  rgb(252, 117, 7);
    }
    
    #searchArea {
        width: 300px;
        height: 100px;
        display: flex;
        float: right;
        justify-content: end;
    }
    
    .search {
        position: relative;
        width: 300px;
        display: flex;
    }

        .search input {
            width: 100%;
            height: 40px;
            padding: 10px;
            border: 2px solid rgb(252, 117, 7);
            border-radius: 10px;
            border-collapse: collapse;
            display: flex;
            align-self: flex-end;
            justify-content: end;
            position: relative;
            outline: none;

        }

        #searchArea img {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 65px;
            right: 10px;
            margin: 0;
            
        }
    /*네비게이션  */
    nav {
        width: 1200px;
        height: 60px;
        border-bottom: 2px solid gray;
        margin: 20px auto;
        display: inline-block;
    }
        /* 네비 리스트 */
        /* 메인메뉴 */
        ul {
            list-style-type: none;
            padding-top: 10px;
        }
        ul li {
            display: inline-block;
            font-weight: 600;
            font-size: 1.4em;
            margin-right: 20px;
        }

        #mainMenu ul li a {
            text-align: left;
            float: left;
        }
        #mainMenu {
            width: 700px;
            height: 50px;
            float: left;
        }
        /* 고객센터 */
        #customerCenter {
            width: 500px;
            height: 50px;
            float: right;
            --background-color: pink;
        }
        #customerCenter ul li {
            float: right;
            margin-right: 0;
        }
        #customerCenter ul li a {
            text-align: right;
            float: right;
            margin-left: 20px;
        }

main {
    width: 900px;
    height: 600px;
    margin: 0 auto;
}
#center {
    width: 900px;
    height: 100px;
}

    #centerMenu  {
        width: 500px;
        height: 50px;
        float: left;
    }

    #centerMenu li:first-child {
        background-color: rgb(252, 117, 7);
    }

    #centerMenu li:first-child a {
        color: white;
    }

    #centerMenu li {
        padding: 10px;
        font-size: medium;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        background-color: #ccc;
    }

    #centerSearch {
        padding-top: 20px;
        width: 400px;
        height: 50px;
        float: right;
        position: relative;
    }
        #centerSearch input {
            float: right;
            padding: 5px 5px 5px 35px;
            width: 250px;
            height: 30px;
            outline: none;
        }

        #centerSearch img {
            width: 20px;
            position: absolute;
            top: 25px;
            right : 225px;
        }
#notice {
    width: 900px;
    height: 350px;
}
    table {
        width: 900px;
        height: 250px;
        border-collapse: collapse;
        text-align: center;
    }

    tr th, td {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
    th {
        font-size: 1.2em;
    }

#pages {
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    #pages ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        height: 50px;
        }

    #pages li {
        margin: 10px;
        padding: 5px 10px 5px 10px;
        display: flex;
        color: gray;
        font-size: 1.3em;
        font-weight: 500;
        background-color: #ecebeb;
        border-radius: 5px;
    }

    #pages li:first-child {
        background-color: rgb(252, 117, 7);
        color: white;
    }

/* 푸터 */
footer {
    width: 1200px;
    height: 70px;
    border-top: 2px solid #ccc;
    margin: 0 auto;
}

    footer ul {
        margin-top: 10px;
    }

    footer li {
        color: gray;
        font-size: smaller;
        font-weight: 100;
        border-right: 1px solid #a0a0a0;
        padding-right: 20px;
        margin: 5px;
    }

    footer li:last-child {
        border: none;
    }
